---
layout: default
---

<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

<h2 style='text-align:center;margin:0;'><a style='color:#325028'>{{ page.title }}</a></h2>
<h3><a style='color:#325028'>{{ page.author }}</a></h3><br><h3><a style='color:#325028'>{{ page.date | date: "%B %e, %Y" }}</a></h3>

<p>{{ content }}</p>

<script src="https://utteranc.es/client.js"
        repo="Tools-of-ignorance/tools-of-ignorance.github.io"
        issue-term="pathname"
        label="AC-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
