---
layout: default
---

<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

<h1><a style='color:#325028'>{{ page.title }}</a></h1>
<h4 style='margin:0' ><a style='color:#325028'>{{ page.author }}</a></h4>
{% if page.affiliation %}<h4 style='margin:0'><a style='color:#325028'>{{ page.affiliation}}</a></h4>{% endif %}
<h4 style='margin:0'><a style='color:#325028'>{{ page.date | date: "%B %e, %Y" }}</a></h4>

<p>{{ content }}</p>

<script src="https://utteranc.es/client.js"
        repo="Tools-of-ignorance/tools-of-ignorance.github.io"
        issue-term="pathname"
        label="AC-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
